body {
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 50px;

}

h1 {
    color: pink
}
h3 {
    color: yellow
}

ul {
    color: white
}

.column {
    float: left;
    width: 40%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.welcome{
    color: white;
    margin-top: 40px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    position: center, absolute;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: blueviolet;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: lightblue;
}

.power-pellet {
    background-color: blue;
    border-radius:10px;
}

.blinky {
    background-color: red;
    /* border: 10px; */
}

.pinky {
    background-color: pink;
    /* border: 0px; */
}

.inky {
    background-color: cyan;
    /* border: 0px; */
}

.clyde {
    background-color: orange;
    /* border: 0px; */
}

.scared-ghost {
    background-color: aquamarine;
    /* border: 0px; */
}

.pac-man {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: yellow;
    position: relative;
}